section {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.show {
  display: block;
}

.disappear {
  display: none;
}

#phone-container {
  display: none;
  background-color: var(--MainBlack);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 125%;
  opacity: 0.7;
}

#phone-container.active {
  display: block;
}

.col {
  padding-right: 100px;
}

.row {
  display: flex;
  align-items: center;
}

#products-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  :root {
    padding: 0 2rem;
  }

  #menu {
    display: block;
  }

  nav ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 1;
    z-index: 99;
    transition: var(--Transitions);
  }

  nav ul > li > a {
    margin-left: 0;
  }

  section {
    display: block;
  }

  #payment-container-parent {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #phone-container {
    height: 300%;
  }

  #country,
  #number {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 10rem;
  }

  .col {
    padding: 0;
  }

  #total-container-div1 {
    display: none;
  }

  .subtotal {
    width: 100%;
  }

  .subtotal div {
    display: flex;
    justify-content: space-between;
    gap: 50%;
  }

  form {
    width: 150% !important;
  }

  #number-container {
    width: 110%;
  }

  #country {
    padding-right: 0;
    padding-left: 0.25rem;
  }

  #products {
    display: none;
  }

  #products-mobile {
    display: block;
  }

  #products-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #product-description {
    width: 200px !important;
  }

  #product-description span {
    font-size: 0.25rem;
  }

  .delete-product {
    font-size: 0.75rem;
    text-decoration: underline;
    color: #999;
  }
}
