.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.product > img {
  margin-right: 10px;
}

.product strong {
  width: 75px;
}

.product-description {
  display: flex;
  flex-direction: column;
}
